/*#root {
  max-width: 1110px;
  padding: 4rem;
}*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  background-color: #F5F8FA;
  width: 100%;
  border-bottom: 1px solid black;
  padding: 3rem;
}

form {
  margin: 3rem;

}

.todo-list {
  margin: 3rem;
}
