/*#root {
  max-width: 1110px;
  padding: 4rem;
}*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  background-color: #F5F8FA;
  width: 100%;
  border-bottom: 1px solid #EAEBEE;
  padding: 3rem;
}

form {
  margin: 3rem;

}

.todo-list {
  margin: 3rem;
}

.todo-item {
  margin-left: 20px;
  margin-bottom: 10px;
  display: flex;
  align-items: center;
}

.todo-item input {
  margin-right: 10px;
}

i {
  margin-left: 10px;
  color: rgb(160, 52, 52);
}
